body {
    background: #262626;
    color: white;
}
p{
    font-size: 14px;
}
h2{
    margin-bottom: 16px;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #FF5F1F
}
a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #FF5F1F !important;
}
/* ---login/register --- */
.login-form,
.register-form {
    height: calc(100vh - var(--header-height));
}
.login-form .login,
.register-form .register {
    margin-top: auto;
    margin-bottom: auto;
}

.login-nav-link,
.register-nav-link {
    font-size: 16px;
    color: #FF5F1F;
}
.login-form h1 {
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #FF5F1F;
    border-color: #FF5F1F;
}
.btn-primary:hover {
    color: #fff;
    background-color: #FF5F1F;
    border-color: #FF5F1F;
}

.flex{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.flex.flex-item div{
    margin-right: 12px;
}

.flex.justify-between{
    justify-content: space-between;
}